<h1>Reset your DB SQL password</h1>

You receive this mail because there was request to reset your DB SQL password. Please ignore this mail when you didn't request a new password.
<br />

To reset your password, navigate to the following link:
<br />
<br />

<%= "#{root_url}users/#{@user.id}/activate?activation_token=#{@user.activation_token}" %>

<br />
<br />

Best regards,

Your DB-SQL Team
