:root {

  --semantic-red: #db2828;
  --semantic-orange: #f2711c;
  --semantic-yellow: #fbbd08;
  --semantic-olive: #b5cc18;
  --semantic-green: #21ba45;
  --semantic-teal: #00b5ad;
  --semantic-blue: #2185d0;
  --semantic-violet: #6435c9;
  --semantic-purple: #a333c8;
  --semantic-pink: #e03997;
  --semantic-brown: #a5673f;
  --semantic-lightgrey: #e8e8e8;
  --semantic-grey: #767676;
  --semantic-black: #1b1c1d;

  --highlight-grey-50: #e7e6e6;
  --highlight-grey-100: #929292;
  --highlight-green-50: #b4f7ba;
  --highlight-green-100: #c9facd;
  --highlight-blue-50: #b1caff;
  --highlight-blue-100: #c3d2f3;
  --highlight-teal-50: #00b5ac25;
}