body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

  #db-sql {
    display: grid;
    grid-template-columns: 280px 2px auto;
    grid-template-rows: 82px auto;
    grid-template-areas:
      "header  header header"
      "sidebar divider main";
    justify-items: stretch;
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
  }

  #sidebar-divider {
    grid-area: divider;
  }
  .divider {
    z-index: 100;
    &.vertical {
      width: 100%;
      touch-action: pan-x;
      cursor: row-resize;
      border-bottom: 2px solid gray;
    }
    &.horizontal {
      height: 100%;
      border-right: 2px solid gray;
      cursor: col-resize;
      touch-action: pan-y;
    }
    position: relative;
    .resizeIcon {
      position: absolute;
    }
  }

  .grid {
    .row {
      .ribbon.label {
        left: -1.2em;
      }
    }
  }

  .fullscreen {
    grid-column-start: sidebar;
    grid-column-end: main;
    grid-row-start: header;
    grid-row-end: main;

    // sibling selector - divider should not be displayed for fullscreen
    & ~ #sidebar-divider {
      display: none;
    }
  }

  .no-sidebar {
    grid-column-start: sidebar;
    grid-column-end: main;

    // sibling selector - divider should not be displayed for no-sidebar
    & ~ #sidebar-divider {
      display: none;
    }
  }

  header {
    grid-area: header;
    flex: 0 0 auto;
    z-index: 10;
  }

  #sidebar {
    grid-area: sidebar;
    border-right: 1px solid rgba($color: #004950, $alpha: 0.8);
    color: rgba($color: #669996, $alpha: 0.9);
    padding: 1em 0;

    overflow-y: hidden;
    display: flex;
    flex-direction: column;
  }


  main {
    grid-area: main;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 2em;
    box-shadow: 0 0 20px 0 rgba($color: #242424, $alpha: 0.4);
    overflow-y: auto;
  }

  footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    grid-area: footer;
    align-items: center;
    z-index: 10;
  }

  .flex-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .flex-list-item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 10px 0;
    }
  }

  // account activation step
  .ui.steps.activation {
    border: 2px rgb(197, 64, 64) solid;
    .step {
      padding: 0.2em 1em;
      &.active {
        .icon {
          color: rgb(197, 64, 64);
        }
        .title {
          color: rgb(197, 64, 64);
        }
      }
    }
  }

  .spacer {
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 0;
  }
}
