.database-index {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;

  .item {
    height: 22px;

    &.schema-item {
      margin-left: 1em;
    }
    &.table-item {
      margin-left: 2em;
    }

  }
  // must be outside of the item class
  // because it clashes otherwise with semantic
  .column-item {
    height: 22px;
    margin-left: 3em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    color: #4183C4;

    &:hover {
      color: #1e70bf;
    }

    .primary-key {
      text-decoration: underline;
      font-weight: 800;
    }
  }

}

.database-index-header {
  margin: 0 8px 4px 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  h3 {
    cursor: pointer;
    margin: 0 !important;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
}

.filter-databases {
  margin: 0 8px 4px 8px;
  input {
    line-height: 1rem;
  }
}
.column-metadata {
  td {
    white-space: nowrap;
    &:first-child {
      font-weight: bold;
    }
  }
}
