.db-server-card {
  position: relative;
  flex-basis: 250px;
  margin-right: 14px !important;
  flex-shrink: 0 !important;
  .query-count {
    position: absolute;
    top: 4px;
    right: 4px;
    border-radius: 8px;
    height: 2rem;
    width: min-content;
    min-width: 2rem;
    padding: 0 4px;
    background: #E0E1E2 none;
    text-align: center;
    line-height: 2rem;
    cursor: pointer;
  }
}