.db-server-card {
  position: relative;
  .query-count {
    position: absolute;
    top: 4px;
    right: 4px;
    border-radius: 1rem;
    height: 2rem;
    width: 2rem;
    background: #E0E1E2 none;
    text-align: center;
    line-height: 2rem;
    cursor: pointer;
  }
}