@import 'colors';

#schema-query-grid {
  height: 100%;
  display: grid;
  grid-template-columns: 220px 3fr;
  grid-template-rows: min-content 1fr min-content;
  grid-template-areas:
    'selection editor'
    'history editor'
    'history actions';
  gap: 8px;

  .editor {
    grid-area: editor;
  }
  .selection {
    grid-area: selection;
  }
  .history {
    grid-area: history;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    .cards-container {
      height: max-content;
      padding: 2px;
      .schema-query-card {
        position: relative;
        .card-labels {
          position: absolute;
          top: 4px;
          right: 4px;
          display: flex;
        }
        &.active {
          background: var(--highlight-teal-50);
        }
        &:hover {
          background: var(--highlight-grey-50);
          -webkit-transform: unset !important;
          transform: unset !important;
        }
      }
    }
  }
  .actions {
    grid-area: actions;
  }
}
