@import 'colors';

.cards-container {
  height: max-content;
  padding: 2px;
  .db-sql-card {
    position: relative;
    display: flex;
    .main-label {
      position: absolute;
      top: 4px;
      right: 4px;
      display: flex;
    }
    .stats {
      display: flex;
    }
    &.active {
      background: var(--highlight-teal-50);
    }
    &:hover {
      background: var(--highlight-grey-50) !important;
      -webkit-transform: unset !important;
      transform: unset !important;
    }
  }
}

.history {
  grid-area: history;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
#schema-query-grid {
  height: 100%;
  display: grid;
  grid-template-columns: 250px 3fr;
  grid-template-rows: min-content min-content 1fr min-content;
  grid-template-areas:
    'selection name'
    'history   description'
    'history   editor'
    'history   actions';
  gap: 8px;

  .editor {
    grid-area: editor;
    position: relative;
  }
  .selection {
    grid-area: selection;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .schema-name {
    grid-area: name;
    position: relative;
    .ui.input {
      width: 100%;
      > input {
        padding: 4px 8px;
      }
    }
  }
  .schema-description {
    grid-area: description;
    position: relative;

    textarea {
      border-radius: 4px;
      width: 100%;
      font-family: inherit;
      line-height: inherit;
      outline: 0;
      padding: 4px 8px;
      margin: 0;
      resize: none;
    }
  }
  .history {
    grid-area: history;
  }
  .actions {
    grid-area: actions;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    button {
      flex-basis: 9.5em;
      &.toggle-privacy {
        position: relative;
      }
    }
  }
  .dirty::before {
    content: '*';
    position: absolute;
    top: 1px;
    left: 3px;
    z-index: 999;
  }
  .dirty-right::before {
    content: '*';
    position: absolute;
    top: 1px;
    right: 3px;
    z-index: 999;
  }
}

#groups-grid {
  height: 100%;
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-areas: "groups configuration";
  column-gap: 1em;

  .groups {
    grid-area: groups;
    display: flex;
    flex-direction: column;
  }

  .configuration {
    grid-area: configuration;
    .member-list {
      .member {
        display: flex;
      }
    }
  }
}