.query-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .spacer {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
  }
  .toggle.checkbox {
    margin-right: 1em;
  }
}

#ace-resizer {
  width: 100%;
  cursor: row-resize;
  border-bottom: 2px solid gray;
  z-index: 100;
}

.ace_editor,
.ace_editor div {
  font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;
}
