@import "colors";

.results-header {
  position: sticky;
  top: 0px;
  z-index: 999;
  background: rgba(255, 255, 255, 0.8) !important;
}

.sql-results.accordion {
  & > div.title {
    position: sticky;
    top: 46px;
    z-index: 999;
    background: rgba(255, 255, 255, 0.8) !important;
  }
}

.sql-result-table {
  position: relative;
  max-height: 72vh;
  overflow-y: auto;
  table {
    thead th {
      position: sticky;
      top: 0;
    }
  }
  .selectable-column {
    cursor: pointer !important;
    &:hover {
      background: #d6d6d6;
    }
    &.selected {
    background: var(--highlight-grey-100);
        &.green {
        background: var(--highlight-green-100);
      }
      &.blue {
        background: var(--highlight-blue-100);
      }
    }
  }
  td.selected {
    background: var(--highlight-grey-50);
    &.green {
      background: var(--highlight-green-50);
    }
    &.blue {
      background: var(--highlight-blue-50);
    }
  }
}
