#host-port-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .host {
    flex-grow: 1;
    margin-right: 1.5em;
  }
}
#db-connection-modal {
  .schema-query {
    display: flex;
    align-items: flex-end;
    .selection {
      flex-basis: 220px;
      margin-right: 4px;
      flex-grow: 0;
      flex-shrink: 1;
    }
    .editor {
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 300px;
    }
  }
}