<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      .mail {
        margin: 2em;
        width: max-content;
      }
      .link {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }

      .plain-link {
        color: gray;
      }

      p {
        margin-bottom: 2em;
      }

      /* teal: #00B5AD */
      /* pinky: #6435C9 */
      .button {
        background-color: #00B5AD;
        border-radius: 8px;
        text-decoration:none;
        color: white;
        font-weight: bold;
        display: inline-block;
        padding: 10px;
        margin: 12px;
      }

      .button:hover {
        box-shadow: 3px -3px 10px silver;
      } 

      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
